.App {
  text-align: center;
  align-items: center;
}

.Header {
  background-color: #08133b;
  color: white;
  max-height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 100%;
}


